<footer class="pt-20 pb-20 pl-5 pr-5 md:pl-0 md:pr-0" style="background: rgb(0,32,91);
background: radial-gradient(circle, rgba(0,32,91,1) 0%, rgba(11,20,57,1) 100%);min-height:400px;">
    <div class="flex flex-col container w-full max-w-2xl mx-auto pl-5 pr-5 md:pl-0 md:pr-0 flex flex-col justify-center items-center" data-aos="fade-up" data-aos-duration="1000">
        <img src="{{ theme.link }}/assets/images/Bruins4BruinsWhite.png" alt="Bruins4Bruins" style="width:570px;height:auto;" class="pb-5 border-b border-bulightblue" />
        <p class="mt-5 font-condensed font-bold text-3xl uppercase text-white text-center">Alumni &#xb7; Parents &#xb7; Faculty &#xb7; Staff &#xb7; Students</p>
        <p class="font-serif text-white text-center mt-5 text-2xl"><em>of</em> Belmont University</p>
    </div>

    <div class="flex flex-col justify-center items-center pt-20" data-aos="fade-up" data-aos-duration="1000">
        <img src="{{ theme.link }}/assets/images/BelmontLogoWhite_Horizontal.png" alt="Belmont University" class="w-64 mb-10" />

            <p class="font-sans font-normal text-white mb-5 text-center">1900 Belmont Blvd. Nashville, TN 37212 | 615-460-5517</p>
        <p class="font-sans font-normal text-white text-center"><a href="http://belmont.edu" class="text-bulightblue no-underline hover:text-bured-500 transition-slow" target="_blank">Belmont University</a> | <a href="http://webelieve.belmont.edu" class="text-bulightblue no-underline hover:text-bured-500 transition-slow" target="_blank">We Believe Campaign</a> | <a href="http://alumni.belmont.edu/default.aspx" class="text-bulightblue no-underline hover:text-bured-500 transition-slow" target="_blank">Alumni</a> | <a href="http://belmont.edu/parents" class="text-bulightblue no-underline hover:text-bured-500 transition-slow" target="_blank">Parents</a></p>

        <div class="mt-10 flex flex-row justify-center items-center">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbruinsforbruins.com"><img class="w-10 mx-1" src="{{ theme.link }}/assets/images/facebook_icon.svg" alt="Share via Facebook" /></a>
            <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fbruinsforbruins.com&text="><img class="w-10 mx-1" src="{{ theme.link }}/assets/images/twitter_icon.svg" alt="Share via Twitter" /></a>
            <a href="https://plus.google.com/share?url=http%3A%2F%2Fbruinsforbruins.com"><img class="w-10 mx-1" src="{{ theme.link }}/assets/images/google_icon.svg" alt="Share via Google Plus" /></a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fbruinsforbruins.com&title="><img class="w-10 mx-1" src="{{ theme.link }}/assets/images/linkedin_icon.svg" alt="Share via LinkedIn" /></a>
        </div>
    </div>


</footer>

{{ function('wp_footer') }}